# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
*.token.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build
.svelte-kit
/package

.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.turbo

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.nx/cache
.nx/workspace-data

# Nuxt dev/build outputs
.data
.nuxt
.nitro
.cache
