:root {
  --ui-background: 255 255 255;
}

.dark {
  --ui-background: var(--color-gray-950);
}

body {
  @apply antialiased font-sans text-foreground bg-background;
}

.button-gradient {
  background-color: #86efac;
  background-image: linear-gradient(to bottom right, #fef3c7, #86efac);
}

.button-gradient-command-center {
  background-color: #60a5fa;
  background-image: linear-gradient(to bottom right, #93c5fd, #6366f1);
  color: #fff;
}